* {
  font-family: Roboto;
}
/* html tag styles */
body {
  margin: 0;
  border: 0;
}
button {
  border-radius: 20px;
  background-color: #cc3f3f;
  color: azure;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 0;
  font-size: 15px;
}

/* container classes */
#hero {
  background-color: #d9d9d9;
}
#navBar {
  display: flex;
}

#navBar,
#hero,
#quote,
#callToAction {
  padding-left: 15%;
  padding-right: 15%;
}

/* navBar css */
.logo {
  color: #f45c5c;
}
#dot {
  background-color: #f45c5c;
  height: 75px;
  width: 75px;
  border-radius: 50%;
}
